/******************General Styling******************/

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ebdede;
    font-family: Merriweatherlight; 
}

/******************Styling Header*******************/

header {
    background-color: #004241;
    color: #ebdede;
    text-align: center;
    height: 10em;
}
header .fa-earlybirds {
    display: block;
    font-size: 100px;
    padding-top: 15px;
    margin-bottom: 5px;
}
header h1 {
    font-size: 20px;
}

/************Styling Landing-page Section***********/

.landingpagesection {
    color:#3f4242;
    text-align: center;
}
.landingpagesection h2 {
    color: #106e5f;
    margin-top: 80px; 
}
.landingpagesection p {
    line-height: 25px;
    margin: 25px 20em 30px 20em;  
}
.landingpagesection input {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    border: 0;
    width: 30em;
    padding: 15px;
    font-size: 16px; 
    font-family: Merriweatherlight; 
}
#login {
    background-color: #43D1AF;
}
#register {
    background-color:#004241;
}
.landingpagesection div p {
    margin: 30px 24.5em 30px 24.5em;
    text-align: center; 
    border-bottom: 0.5px solid #3f4242; 
    line-height: 0.1em;
}
.landingpagesection div p span {
    padding: 0 20px;
    background-color: #ebdede;
}

/*********Styling Registration & Login-form*********/

#registrationForm,
#loginForm  {
    display: none;
    text-align: center;
    color: #3f4242; 
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #F7F7F7;
}
#registrationForm h2,
#loginForm h2 {
    background-color: #43D1AF;
    padding: 10px 0;
    color: #fff;
    margin: -10px -10px 10px -10px;
}
#registrationForm input,
#loginForm input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2%;
    font-family: Merriweatherlight;
}
#registrationForm span,
#loginForm span {
    color: red;
}
#registrationForm #registerBTN,
#loginForm #loginBTN,
.back {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 0;
    font-family: Merriweatherlight;
    font-weight: bold;
}
#registrationForm #registerBTN,
#loginForm #loginBTN {
    background-color: #004241;
    margin-top: 15px;
}
#registrationForm .back,
#loginForm .back {
    background-color: #43D1AF;
    border: 0;
}

/***************Styling Lobby-room******************/

.lobbyRoom {
    margin-left: 5em;
    margin-top: 3em;
    color:#3f4242; 
}
.fa-user {
    position: absolute;
    color:#004241;
    font-size: 20px;
    left: 800px;
    top: 200px;
}
#loggedInUser {
    font-size: 20px;
    margin-left: 10px;
    font-weight: normal;
    color: #106e5f;
}
#userState{
    position:absolute;
    left: 800px;
    top: 230px;
}
#userState p{
    font-size: 10px;
    background-color:#ffffff;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
#userState p :nth-child(3){
    margin-bottom: 10px;
}
.lobbyRoom h2 {
    margin-top: 1.5em;
    text-align: center;
    padding: 5px;
    font-weight: normal;
    max-width: 20em;
    margin-left: 5em;
    color: #ffffff;
    cursor: pointer;
    background-color: #43D1AF;
}
.lobbyRoom h2:nth-child(1) {
    background-color:#ebdede;
    color:#3f4242;  
    max-width:18em;
    margin-left: 0em;
}
.logout {
    background-color: #004241;
    margin-top: 20px;
    margin-left: 20em;
    border: 0;
    text-align: center;
    color: #ffffff; 
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    font-family: Merriweatherlight;
}

/***************Styling Chat-room******************/

.send,
.backLobby{
    background-color: #004241;
    margin-top: 20px;
    border: 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    font-family: Merriweatherlight;
}
.send{
    background-color: #43D1AF;
}
.chatRoom h2{
    color: #004241;
    margin-left: 10px;
    margin-bottom: 10px;
}
.message{
    padding: 10px;
    width: 32em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.chatbox{
    margin-left: 10px;
    background-color: #fff;
    padding: 20px;
    overflow-x: scroll;
    width: 500px;
    height: 500px;
    overflow-x: hidden;
    background-color: #004241;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track { 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 10px;
    background-color: white;
}
.chatbox p :nth-child(1){
    margin: 5px 0 5px 0;
    color:lightgray;
    font-size: 10px;
}
.chatbox p :nth-child(2){
    margin: 5px 0 5px 0;
    color: white;
    font-size: 12px;
}
.chatbox p :nth-child(3){
    margin: 5px 0 25px 20px;
    color: white;
}
.chatbox p span {
    font-size: 1px
}