<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chat-Application</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body>
    
    <!--Header-->
    <header>
        <i class="fab fa-earlybirds"></i>
        <h1>SmartTalk</h1>
    </header>

    <!--Landingpage-->
    <section class="landingpagesection">
        <h2>Welcome to BFJ - SmartTalk</h2>
        <p>Where you can instantly connect and chat with all your peers through real time messaging.</p>    
        <div>
            <input id="login" type="button" value="LOGIN">
            <p><span>OR</span></p>
            <input id="register" type="button" value="REGISTER">
        </div>
    </section>

    <script type="text/javascript" src="../scripts/index.js"></script>

</body>
</html>